<div class="row">
  <div class="col-md-8" id="compute-overview"></div>
  <div class="col-md-4" id="support-contacts"></div>
</div>
<div class="row">
  <div class="col-md-12" id="server-usage"></div>
</div>
<div class="row">
  <div class="col-md-12" id="task-listing"></div>
</div>
<div class="row">
  <div class="col-md-12" id="server-listing"></div>
</div>
