<div class="row">
  <div class="col-md-8" id="product-carousel"></div>
  <div class="col-md-4" id="support-contacts"></div>
</div>
<div class="row">
  <div class="col-md-8" id="billing-history"></div>
  <div class="col-md-4" id="platform-status"></div>
</div>
<div class="row">
  <div class="col-md-12" id="platform-metrics"></div>
</div>
