<div class="row">
  <form class="col-md-4 col-md-offset-4 clearfix" id="reset-password">
    <div class="form-group clearfix{{#if validationErrors.password}} has-error{{/if}}">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
      {{#if validationErrors.password}}
        <label class="control-label pull-right small" for="password">{{validationErrors.password}}</label>
      {{/if}}
    </div>
    <div class="form-group clearfix{{#if validationErrors.confirmPassword}} has-error{{/if}}">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
      {{#if validationErrors.confirmPassword}}
        <label class="control-label pull-right small" for="confirm-password">{{validationErrors.confirmPassword}}</label>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-success pull-right">Reset Password</button>
  </form>
</div>
