<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Did You Know:</strong>
      ServiceWorks Backup is designed specifically for Off-site protection and disaster recovery whilst providing a sustainable approach to cost.
    </p>
    <p>
      <a title="Click here to find out more." href="#">
        Click here to find out more.
      </a>
    </p>
  </div>
  <div class="col-md-5">
    <h3>
      CDW today
    </h3>
    <p>
      Built around core principles of simplicity, transparency and accountability, CDW's suite of cloud services allow you to address your business challenges without wasting time or money.
    </p>
  </div>
  <div class="col-md-3 platform-total-storage">
    <h4>Total storage used</h4>
    <p class="stastic-figure">
      5 TB
    </p>
  </div>
</div>
