<header class="container" id="header"></header>
<section class="container">
  <div class="row">
    <div class="col-md-6" id="breadcrumbs"></div>
    <div class="col-md-6" id="notices"></div>
  </div>
</section>
<section class="container" id="content"></section>
<footer class="container" id="footer"></footer>
